.articles li {
  padding: 2%;
  background-color: rgb(248, 239, 239, 0.5);
  position: relative;
  display: flex;
  margin: 25px;
}
.home-article-img {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 5%;
}
.home-article-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2%;
  width: 70%;
}
.home-article-content .author-name {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-weight: 300;
}
.home-article-content .extra {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-weight: 300;
}
.home-article a {
  color: black;
  text-decoration: none;
}
.home-article-content h3 {
  text-align: initial;
  font-weight: 400;
}
.articles {
  display: block; /* Remove bullet points; allow greater control of positioning */
  padding: 0; /* Override defaults for lists */
  margin: 0; /* Override defaults for lists */
  width: 100%; /* Get the row full width */
}

@media (max-width: 960px) and (min-width: 360px) {
  .home-article-img {
    width: 30%;
  } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
  .articles li {
    width: 100%;
  } /* On small screens, show one logo per row */
}
.btm_loader {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
